:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #0F171C;
  --bg-secondary: #141418;
}

body {
  background-color: #22343C;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

main {
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0px;
  display: block;
  height: 100%;
}

nav {
  display: flex;
  flex-flow: row;
  background-color: var(--bg-primary);
  height: 3rem;
}

nav button {
  text-align: -webkit-center;
  background-color: inherit;
  color: inherit;
  border-color: transparent;
  border-right: 1px solid lightgrey;
  height: 100%;
  width: 6rem;
}

nav button:hover {
  background-color: var(--bg-secondary);
}

nav button:focus {
  outline: none;
}

nav .login {
  display: flex;
  margin-left: auto;
}

nav .login button {
  border-left: 1px solid lightgrey;
}

.brand {
  min-height: 100%;
  padding: 0px 10px 0px 10px;
  background-color: darkcyan;
  text-align: center;
  display: inline;
}

.brand h1 {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

.App-login button{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  text-align: -webkit-center;
  background-color: inherit;
  color: aqua;
  border-color: transparent;
  border: 3px solid aqua;
  border-radius: 5px;
  width: 20%;
  height: 10%;
}

#welcome {
  align-self: center;
  text-align: center;
  padding: 10px 10px 0px 10px;
  background-color: inherit;
  color: inherit;
  border-color: transparent;
  border-right: 1px solid lightgrey;
  height: 80%;
  width: 31rem;
}

/*Default form styling*/
form {
  max-width: 500px;
}

.field {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin: 4rem auto 1rem;
}

label {
  color: var(--text-secondary);
}

/*Form input styling*/
input[type="file"] {
  display: none;
}

.file-input {
  display: block;
  color: darkcyan;
}

input[type="text"] {
  color: var(--text-secondary);
}

.custom-input {
  outline: none;
  overflow: hidden;
  margin: 10px 0 0 0;
  width: 100%;
  background: none;
  font-weight: bold;
  border: 3px solid darkcyan;
  border-radius: 5px;
  padding: 10px;
}

.input-button {
  background: none;
  border: 3px solid darkcyan;
  border-radius: 5px;
  min-width: 15%;
  color: darkcyan;
  padding: 10px;
  font-weight: bold;
  margin-right: 1rem;
}

.input-button:hover {
  cursor: pointer;
  background-color: var(--bg-secondary);
}

/*Tooltip styling*/
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltipText {
  visibility: hidden;
  min-width: 20%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
